@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --man-utd-red: #d2171d;
  --dark-bg: #242424;
  --medium-dark: #363636;
  --light-dark: #424141;
  --text-light: #f4f4f4;
  --text-secondary: #aaa;
  --hover-red: #bc141a;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--light-dark);
}

.mainHeader {
  margin: 0%;
  width: 100%;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  position: sticky;
  top: 0;
  background-color: var(--dark-bg);
  z-index: 20;
}

.bigLink {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
}

.clubLogo {
  width: 70px;
}

.siteTitle {
  text-decoration: none;
  color: var(--man-utd-red);
  font-weight: 700;
  font-size: 25px;
}

.signIn {
  background-color: var(--man-utd-red);
  border: solid var(--man-utd-red) 2px;
  border-radius: 30px;
  color: var(--text-light);
  font-size: 15px;
  font-weight: 600;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.signIn:hover {
  background-color: var(--hover-red);
  border: solid var(--hover-red) 2px;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  background-color: var(--medium-dark);
  padding: 10px 80px;
  padding-bottom: 0;
  gap: 30px;
}

.navigation > a,
.dropdown {
  text-decoration: none;
  color: var(--text-light);
  text-align: center;
  font-size: 18px;
  font-weight: 600;

  padding: 15px 0px;
  border-bottom: 5px solid var(--medium-dark);

  transition: color 0.3s, border-bottom 0.3s;
}

.dropdown .dropbtn {
  color: var(--text-light);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s;
}

.navigation > a:hover,
.dropdown:hover {
  color: var(--man-utd-red);
  border-bottom: 5px solid var(--man-utd-red);
  cursor: pointer;
}

.navigation a.active {
  border-bottom: 3px solid var(--man-utd-red);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--medium-dark);
  min-width: 160px;
  z-index: 10;

  top: 109%;
  left: 0;
  padding: 0;
}

.dropdown-content a {
  color: var(--text-light);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

  border-bottom: none !important;
  padding: 10px 5px;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: var(--man-utd-red);
  color: var(--text-light);
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--man-utd-red);
}

.navigation > a,
.dropdown1 {
  text-decoration: none;
  color: var(--text-light);
  text-align: center;
  font-size: 18px;
  font-weight: 600;

  padding: 15px 0px;
  border-bottom: 5px solid var(--medium-dark);

  transition: color 0.3s, border-bottom 0.3s;
}

.dropdown1 .dropbtn1 {
  color: var(--text-light);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s;
}

.navigation > a:hover,
.dropdown1:hover {
  color: var(--man-utd-red);
  border-bottom: 5px solid var(--man-utd-red);
  cursor: pointer;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: var(--medium-dark);
  min-width: 160px;
  z-index: 10;

  top: 109%;
  left: 0;
  padding: 0;
}

.dropdown-content1 a {
  color: var(--text-light);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

  border-bottom: none !important;
  padding: 10px 5px;
  transition: background-color 0.3s;
}

.dropdown-content1 a:hover {
  background-color: var(--man-utd-red);
  color: var(--text-light);
  border-bottom: none;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  color: var(--man-utd-red);
}

.mainSectionHeader {
  padding: 40px 180px;

  display: flex;
  justify-content: center;
}

.lineDiv1 {
  width: 70%;
  height: 3px;
  background-color: var(--man-utd-red);
}

.lineDiv {
  width: 100%;
  height: 3px;
  background-color: var(--man-utd-red);
}

footer {
  margin: 0%;
  width: 100%;
  background-color: var(--medium-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
footer p {
  color: var(--text-light);
  font-size: 14px;
}
.socials {
  padding: 20px 80px;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.socials a {
  background-color: var(--light-dark);
  border-radius: 50px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.socials a img {
  height: 20px;
  max-width: 24px;
}

.socials a:hover {
  background-color: var(--man-utd-red);
}

.articleHeader {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 700px;
  background-repeat: no-repeat;
  background-position: top;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 60%
    ),
    url(./img/03db4a40-b9a9-11f0-b1fc-bb74f5a3bad8.jpg);

  background-size: 100%;
  transition: background-size 0.8s;
}

.imgHeader {
  color: var(--text-light);
  font-weight: 700;
  font-size: 60px;
}

.articleHeader:hover {
  background-size: 110%;
}
article {
  padding: 20px 400px;
}
.articleWrap {
  background-color: var(--medium-dark);
  padding: 30px 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.by img {
  height: 44px;
  width: 44px;
  border-radius: 32px;
}
.by {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.author {
  display: flex;
  justify-content: space-between;
  padding: 10px 400px;
}

.relDate {
  display: flex;
  align-items: center;
}
span {
  color: var(--text-light);
}

.articleWrap h3 {
  font-size: 30px;
  color: var(--text-light);
}

.articleWrap p {
  color: var(--text-light);
  font-size: 18px;
}

.newsSection {
  display: flex;
  padding: 20px 180px;

  justify-content: space-between;
}
.newsCard {
  display: flex;
  flex-direction: column;
  background-color: var(--medium-dark);
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 300px;
  min-width: 300px;
  position: relative;
}

.newsCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  max-width: 250px;
  min-width: 250px;
  justify-content: space-between;
}

.cardContent h2 {
  color: var(--text-light);
}

.cardContent p {
  color: var(--text-secondary);
  font-size: 14px;
}
.cardImage {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
}

.newsCard:hover .cardImage {
  transform: scale(1.05);
}

.r {
  padding: 20px 0px;
}
.readMore {
  text-decoration: none;
  color: var(--text-light);
  font-weight: 600;
  font-size: 16px;

  transition: ease-in-out 0.3s color;
}

.readMore:hover {
  color: var(--man-utd-red);
}
