body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  flex-direction: column;
  gap: 40px;
}

#wlcm {
  margin: 0 0 4px;
  font-size: 15px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border: solid 1px #ddd;
  border-radius: 7px;
  margin-bottom: 15px;
}

#btn {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  border: none;
  background: linear-gradient(90deg, #6366f1, #4338ca);
}
#btn:hover {
  background: linear-gradient(90deg, #5153c5, #362da0);
}

.card {
  width: 440px;
  background: white;
  box-shadow: 5px 5px 5px 3px #d9dfe7;
  border-radius: 8px;
  padding: 40px 50px;
  box-sizing: border-box;
  text-align: left;
}

#forgot {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  text-decoration: none;
  color: #4f46e5;
  font-weight: 600;
}

#forgot:hover {
  text-decoration: underline;
}

#sgnup {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

#sgnup a:hover {
  text-decoration: underline;
}

#sgnup a {
  text-decoration: none;
  font-weight: 500;
}
